body {
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0px 50px;
    gap: 10px;
    width: 1400px;
    height: 80px;
    top: 1px;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
}

.header__logo {
    width: 36.5px;
    height: 43px;
    left: 51px;
    top: 18.5px;
    padding-bottom: 9px;
}

.header__title {
    width: 263px;
    height: 53px;
    left: -3px;
    top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin: 0;
}

.first-word {
    color: #FF5722;
}

.header-basket {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 20px;
}

.header-basket__amount {
    position: absolute;
    right: -10px;
    top: -6px;
}

.container {
    margin: 0 50px;
    width: 1400px;
    margin-top: 80px;
}

.bread-crumbs {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    width: 558px;
    height: 35px;
}

.link {
    color: #008CF0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #F36223;
}

.link:active {
    color: #A93A09;
}

.main__title {
    width: 539px;
    font-size: 32px;
    line-height: 39px;
    padding: 0px 0px 20px;
    margin: 0;
}

.product-photos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.photos {
    height: 387px;
}

.container-characteristics {
    display: flex;
    gap: 100px;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 50px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.product-color {
    width: 530px;
    height: 114px;
}

.product-color__title {
    width: 157px;
    height: 19px;
    font-size: 16px;
    margin: 0 0 15px;
}

.change-color {
    display: flex;
    gap: 10px;
}

.square-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
    cursor: pointer;
}

.square-image:hover {
    background: #888888;
}

.square-image_selected {
    border-color: #F36223;
}

.square-image__photo {
    height: 60px;
}

.memory {
    width: 298px;
    height: 73px;
}

.memory__title {
    margin: 0px 0 15px 0;
    font-size: 16px;
}

.memory-buttons {
    display: flex;
    gap: 10px;
}

.memory-buttons__item {
    box-sizing: border-box;
    display: flex;
    padding: 10px 20px;
    width: 94px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.memory-buttons__item_selected {
    border-color: #F36223;
}

.memory-buttons__item:hover {
    background: #888888;
}

.memory-buttons__text {
    width: 52px;
    height: 19px;
}

.btn_active:active {
    color: #A93A09;
}

.product-characteristic {
    width: 417px;
    height: 198px;
}

.product-characteristic__title {
    margin: 0px 0 15px 0;
    font-size: 16px;
}

.list {
    padding-left: 15px;
    margin: 0;
}

.list__element {
    margin-bottom: 10px;
}

.content {
    height: 421px;
}

.content__title {
    font-size: 16px;
    margin: 0px 0 15px 0;
}

.content__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.compare-model__title {
    font-size: 16px;
    margin: 0px 0 15px 0;
}

.model-table {
    border: 1px solid grey;
    border-collapse: collapse;
}

.model-table__titles {
    border: 1px solid grey;
}

.col,
.cell {
    padding: 10px;
}

td:nth-child(-n+8),
th:nth-child(-n+8) {
    border-left: 1px solid grey;
}

.row:hover {
    background-color: #888888;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 420px;
}

.information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.information__price {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
    width: 390px;
    height: 73px;
}

.old-value {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
    margin-bottom: 10px;
}

.old-price {
    text-decoration-line: line-through;
    width: 77px;
    height: 16px;
    color: #888888;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
}

.discount__text {
    width: 35px;
    height: 16px;
    color: #FFFFFF;
}

.current-price {
    width: 132px;
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    margin-top: 10px;
}

.add-to-favorits {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./images/Heart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: white;
    background-size: contain;
}

.add-to-favorits:hover {
    background-image: url(./images/Heart-selected.svg);
}

.add-to-favorits:active {
    background-image: url(./images/Heart-click.svg);
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
    height: 68px;
}

.add-to-basket {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 49px;
    gap: 15px;
    width: 380px;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    justify-content: center;
}

.add-to-basket::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./images/Basket.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.add-to-basket:hover {
    background: #DA4A0C;
}

.add-to-basket:active {
    background: #A93A09;
}

.add-to-basket__text {
    width: 196px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 642px;
}

.ads__text {
    width: 60px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.ads__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 420px;
    height: 615px;
}

.ads__iframe {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
}

/*REVIEWS*/

.reviews {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.reviews__text {
    display: flex;
    gap: 10px;
}

.reviews__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.reviews__counter {
    color: #aaaaaa;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.reviews__btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: 168px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.review-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review {
    display: flex;
    gap: 30px;
}

.review__avatar {
    display: block;
    height: 140px;
}

.review__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.autor-name {
    margin: 0;
    font-size: 20px;
}

.review__score {
    display: block;
    height: 30px;
}

.review__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__text {
    font-size: 16px;
    line-height: 17px;
}

.separator {
    display: flex;
    justify-content: end;
}

.separator__line {
    box-sizing: border-box;
    width: 710px;
    height: 1px;
    border: none;
    border-top: 1px dashed #888888;
    margin: 0;
}

.add-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 880px;
    box-sizing: border-box;
    padding-left: 170px;
}

.add-review__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
}

.add-review__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.form__name-grade {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 710px;
    height: 49px;
}

.form__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    width: 457px;
    height: 49px;
    border: 1px solid #888888;
}

.name__error,
.grade__error {
    background: #DA4A0C;
    z-index: 1;
    position: relative;
}

.form__grade {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    width: 175px;
    height: 49px;
    border: 1px solid #888888;
}

.form__text-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 710px;
    height: 190px;
}

.text-area__field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0 15px;
    width: 710px;
    height: 190px;
    border: 1px solid #888888;
    resize: none;
}

.form__name::placeholder,
.form__grade::placeholder,
.text-area__field::placeholder {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.form__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    width: 177px;
    height: 39px;
    background: #F36223;
    border-radius: 4px;
    border: 0;
}

.btn__text {
    width: 137px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.form__btn:hover {
    background: #DA4A0C;
}

.form__btn:active {
    background: #A93A09;
}

footer {
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    background: #F2F2F2;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    width: 1400px;
}

@media (max-width: 1499px) {
    header {
        width: 994px;
        margin: 0 15px;
    }

    .container {
        width: 994px;
        margin: 0 15px;
    }

    .photos {
        height: 272px;
    }

    .container-characteristics {
        width: 994px;
        gap: 40px;
    }

    .characteristics {}

    .sidebar {
        width: 360px;
    }

    .information {
        width: 360px;
        height: 313px;
    }

    .information__price {
        width: 320px;
    }

    .add-to-basket {
        width: 320px;
    }

    .ads,
    .ads__list,
    .ads__iframe {
        width: 360px;
    }

    .compare-model {
        display: none;
    }

    .review__avatar {
        height: 100px;
    }

    .review__score {
        height: 20px;
        width: 100px;
    }

    .add-review {
        padding: 0;
    }

    footer {
        width: 994px;
        padding: 0px 15px;
    }

    .footer__content {
        width: 994px;
    }
}